<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="sg.edu.rp.c346.fyp_1">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".Summary"></activity>
        <activity android:name=".Feedback" />
        <activity
            android:name=".CleanerInformation"
            android:label="View Cleaner" />
        <activity android:name=".EditBookings" />
        <activity
            android:name=".BookingsActivity"
            android:label="View Bookings" />
        <activity android:name=".ServiceList" />
        <activity
            android:name=".ViewActivity"
            android:label="@string/view_name" />
        <activity
            android:name=".Home"
            android:label="@string/home_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/sign_in" />
        <activity
            android:name=".contactus"
            android:label="@string/contact_us" />
        <activity android:name=".login" />
        <activity android:name=".forgotpass" />
        <activity
            android:name=".signup"
            android:label="Sign up" />
        <activity android:name=".SecondActivity" />
        <activity
            android:name=".Pay"
            android:label="Paying" />
        <activity android:name=".ProfileActivity" />
        <activity android:name=".UpdatePassword" />
    </application>

</manifest>